@inherits LayoutComponentBase
@inject NavigationManager Navigation
<PageTitle>QLDuAn_NgocQuy</PageTitle>

<div class="page">
    <div class="sidebar" style="@(IsLoginPage() ? "display:none;" : "")">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsLoginPage()
    {
        return Navigation.Uri.EndsWith("/");
    }
}