@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QLDuAn_NgocQuy</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
    
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="duan">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dự án
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="thanhvien">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Thành viên
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phancong">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Phân công công việc
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="ConfirmLogout"  >
                <span class="oi oi-list-rich" aria-hidden="true"></span> Đăng xuất
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private bool IsLoginPage()
    {
        return Navigation.Uri.EndsWith("/");
    }
    private async Task ConfirmLogout(MouseEventArgs e)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Bạn có chắc chắn muốn đăng xuất không?");
        if (confirmed)
        {
            Navigation.NavigateTo("/");
        }
    }
}
